body{
margin: 0;
    font-family: Work Sans;
}
main{
 max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
font-weight: 600;
font-size: 1.2rem;
text-align: center;
color: #FFFFFF;
background: #FF900E;
border-radius: 8px;
padding: 20px 24px;
border-style: none;
}
.section-title{
    font-weight: 700;
font-size: 3rem;
color: #131313;
}
.description{
    line-height: 26px;
text-align: center;
color: #727272;
}
/* header section */
header{
    background: rgba(255, 144, 14, 0.1);
}
.header-container{
     max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 0;
}
/* navbar */
nav{
display: flex;
justify-content: space-between;
align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
nav ul li{
    color: #424242;;
}
.header-main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.header-main-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 638px;
}
.header-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 50px;
}
.header-main img{
width: 100%;
}
